/* form style */
.sj_label{
    display: block;
    font-family: var(--inter-bold);
    margin-bottom: 10px;
}

.sj_input{
    display: block;
    font-size: 14px;
    line-height: 24px;
    padding: 12px 16px;
    color: var(--primary-color);
    background-color: var(--light-white-color);
    border: 1px solid var(--light-green-color);
    height: 38px;
    min-height: 48px;
    width: 100%;
    margin-bottom: 0;
    border-radius: var(--border-radius-6);
    -webkit-border-radius: var(--border-radius-6);
    -moz-border-radius: var(--border-radius-6);
    transition: border-color .35s;
}

.sj_input:focus{
    outline: 0;
    border: 1px solid var(--secondary-color);
}

.sj_input:focus-visible{
    outline: none;
}

.sj_textarea{
    min-height: 144px;
    height: 100%;
    resize: none;
}

@media(max-width: 991px){
    .sj_label {
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 7px;
    }
    .sj_input {
        padding: 10px 14px;
        height: 36px;
        min-height: 46px;
    }
    .sj_textarea {
        min-height: 130px;
        height: 100%;
    }
}

@media (max-width: 767px){
    .sj_label {
        font-size: 14px;
        line-height: 24px;
    }
    .sj_input {
        padding: 8px 12px;
    }
}