/* form style */
.sj_label{
    display: block;
    font-family: var(--inter-bold);
    margin-bottom: 10px;
}

.sj_input{
    display: block;
    font-size: 14px;
    line-height: 24px;
    padding: 12px 16px;
    color: var(--primary-color);
    background-color: var(--light-white-color);
    border: 1px solid var(--light-green-color);
    height: 38px;
    min-height: 48px;
    width: 100%;
    margin-bottom: 0;
    border-radius: var(--border-radius-6);
    -webkit-border-radius: var(--border-radius-6);
    -moz-border-radius: var(--border-radius-6);
    transition: border-color .35s;
}

.sj_input:focus{
    outline: 0;
    border: 1px solid var(--secondary-color);
}

.sj_input:focus-visible{
    outline: none;
}

.sj_textarea{
    min-height: 144px;
    height: 100%;
    resize: none;
}